/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
.vert-spacing{
  padding-top: 1em;
}
.horz-spacing {
  padding-left: .5em;
  padding-right: .5em;
}

table, th , td  {
  border-bottom: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
table th {
  background-color: #ffffff;
}

